db.sqlite3
.dockerignore

.mvenv
dist
db.sqlite3
sqlite.db
.venv

.env
Dockerfile
entrypoint.sh

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*
!src/*/migrations/__init__.py
src/*/migrations/*
log/debug.log
